  <!--  -->
  <section class="banner--bg sc--test">
    <div class="img--banner">
      <img src="\themes\custom\ux4mation\public\images\banner___1.png">
      <img class="overly" src="\themes\custom\ux4mation\public\images\overly.png">
      <div class="container wrapper-text-banner">
        <div class="row bottom">
          <div class="col-sm-12 mt-5">
            <h2>Clients' testimonials</h2>
            <p>Our client's satisfaction is our first priority</p>
          </div>
        </div>
      </div>
    </div>
    </div>

  </section>
  <!--  -->
  <section class="section-padding sc--1" id="how_serve">
    <div class="fluid container">
      <div class="row bottom">

        <div class="col-sm-5 custom-content">
          <img src="\themes\custom\ux4mation\public\images\Group 3.png" alt="Know-How">
          <h2 class="custom-title">Center of Excellence</h2>
          <p class="custom-subtitle">ServiceNow Center of Excellence (CoE) provides Innovative and cost-efficient
            ServiceNow capabilities coupled with best in class» implementation and RUN services</p>
          <p class="custom-subtitle">Accelerate your digital transformation
            leveraging state-of-the-art ServiceNow platform capabilities</p>

          <div class="btn--b">

            <a class="custom-button-link">Discover more</a>

          </div>
        </div>
        <div class="col-sm-7">
          <div class="video-wrapper-2-box">
            <div class="box1">
              <img src="\themes\custom\ux4mation\public\images\b1.png" alt="Know-How">
            </div>
            <div class="box1">
              <img src="\themes\custom\ux4mation\public\images\b2.png" alt="Know-How">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="box">
    <div class="container-fluid">
      <div class="row bottom">

        <!-- First Item -->
        <div class="col-md-6 order-md-1 how_left">
          <img src="\themes\custom\ux4mation\public\images\k1.png" alt="Customer Experience">
        </div>
        <div class="col-md-6 order-md-2 content-box  ">
          <div class="row bottom">
            <div class="col-sm-8">
              <h3 class="mt-5">Customer Experience</h3>
              <p>Lorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum
                dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsumLorem ipsum dolor ipsum dolorLore.
                m dolorLorem ipsumLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor.Lorem
                ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum </p>
              <div class="btn--b">

                <a class="custom-button-link">Discover more</a>

              </div>
            </div>
            <div class="col-sm-4">
              <div class="jack-lorem-parent">
                <div class="jack-lorem">Jack Lorem</div>
                <img class="skill-iconslinkedin" alt="" src="\themes\custom\ux4mation\public\images\skill-icons_linkedin.png">
                <div class="head-of-lorem">Head of Lorem</div>
                <img class="handsome-blond-guy-with-blue-e-icon" alt="" src="\themes\custom\ux4mation\public\images\jack.png">
              </div>
            </div>

          </div>


        </div>
      </div>

      <div class="row bottom">

        <!-- First Item -->
        <div class="col-md-6 order-md-1 content-box  ">
          <div class="row bottom">
            <div class="col-sm-4">
              <div class="jack-lorem-parent">
                <div class="jack-lorem">Jack Lorem</div>
                <img class="skill-iconslinkedin" alt="" src="\themes\custom\ux4mation\public\images\skill-icons_linkedin.png">
                <div class="head-of-lorem">Head of Lorem</div>
                <img class="handsome-blond-guy-with-blue-e-icon" alt="" src="\themes\custom\ux4mation\public\images\jack.png">
              </div>
            </div>
            <div class="col-sm-8">
              <h3 class="mt-5">Customer Experience</h3>
              <p>Lorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum
                dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsumLorem ipsum dolor ipsum dolorLore.
                m dolorLorem ipsumLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor.Lorem
                ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum </p>
              <div class="btn--b">

                <a class="custom-button-link">Discover more</a>

              </div>
            </div>
          </div>


        </div>
        <div class="col-md-6 order-md-2 how_rigth">
          <img src="\themes\custom\ux4mation\public\images\k1.png" alt="Customer Experience">
        </div>
      </div>
      <div class="row bottom">

        <!-- First Item -->
        <div class="col-md-6 order-md-1 how_left">
          <img src="\themes\custom\ux4mation\public\images\k1.png" alt="Customer Experience">
        </div>
        <div class="col-md-6 order-md-2 content-box  ">
          <div class="row bottom">
            <div class="col-sm-8">
              <h3 class="mt-5">Customer Experience</h3>
              <p>Lorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum
                dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsumLorem ipsum dolor ipsum dolorLore.
                m dolorLorem ipsumLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor.Lorem
                ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum </p>
              <div class="btn--b">

                <a class="custom-button-link">Discover more</a>

              </div>

            </div>
            <div class="col-sm-4">
              <div class="jack-lorem-parent">
                <div class="jack-lorem">Jack Lorem</div>
                <img class="skill-iconslinkedin" alt="" src="\themes\custom\ux4mation\public\images\skill-icons_linkedin.png">
                <div class="head-of-lorem">Head of Lorem</div>
                <img class="handsome-blond-guy-with-blue-e-icon" alt="" src="\themes\custom\ux4mation\public\images\jack.png">
              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="row bottom">

        <!-- First Item -->

        <div class="col-md-6 order-md-1 content-box  ">
          <div class="row bottom">
            <div class="col-sm-4">
              <div class="jack-lorem-parent">
                <div class="jack-lorem">Jack Lorem</div>
                <img class="skill-iconslinkedin" alt="" src="\themes\custom\ux4mation\public\images\skill-icons_linkedin.png">
                <div class="head-of-lorem">Head of Lorem</div>
                <img class="handsome-blond-guy-with-blue-e-icon" alt="" src="\themes\custom\ux4mation\public\images\jack.png">
              </div>
            </div>
            <div class="col-sm-8">
              <h3 class="mt-5">Customer Experience</h3>
              <p>Lorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum
                dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsumLorem ipsum dolor ipsum dolorLore.
                m dolorLorem ipsumLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor.Lorem
                ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum </p>
              <div class="btn--b">

                <a class="custom-button-link">Discover more</a>

              </div>
            </div>
          </div>


        </div>
        <div class="col-md-6 order-md-2 how_rigth">
          <img src="\themes\custom\ux4mation\public\images\k1.png" alt="Customer Experience">
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  <section class="odd-even--box sc--test">
    <div class="container">
      <div class="row bottom">
        <div class="col-sm-12 mt-5">
          <h1>UX/UI DESIGN</h1>
          <p>DolorLorem ipsum dolor ipsum dolorLorem ipsum </p>
          <p>Our client's satisfaction is our first priority</p>
          <div class="img----odd-eve,">
            <img src="\themes\custom\ux4mation\public\images\Group 35604 1.png" width="100%">
          </div>
        </div>

      </div>
    </div>
  </section>



  <section class="Stories___client section-padding">
    <div class="container-fluid">
      <div class="row bottom">
        <!-- Colonne fixe -->
        <div class="col-lg-6 col-sm-12 fixed-column d-flex align-items-center"
          style="flex-flow: column; background-size: cover;background-repeat: no-repeat;background-image: url(\themes\custom\ux4mation\public\images\dramatic-chess-piece\ 1.png);">
          <h1
            style=" -webkit-text-stroke-width: 1; font-family: Nasalization;font-size: 70px; font-weight: 400;line-height: 123px;  color: white;font-weight: 900; ">
            Client's Stories</h1>
          <div class="row bottom">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
              <p class="text-white">Sed ut unde omnis iste natus error sit voluptatemaccusantium
                doloremque laudantium sed ut
                unde omnis iste natus.</p>
              <button type="button" class="btn custom-button">
                <div class="custom-button-inner">
                  <a class="custom-button-link">Discover more</a>
                </div>
              </button>
            </div>
          </div>
        </div>

        <!-- Colonne défilante -->
        <div class="col-lg-6 col-sm-12 scroll-column">
          <div class="row bottom">
            <div class="col-lg-6 col-sm-12">
              <img src="\themes\custom\ux4mation\public\images\insurance.png" width="100%">
            </div>
            <div class="col-lg-6 col-sm-12 d-flex float-right justify-content-center" style="flex-flow: column;">
              <h3 class="custom-title">Insurance</h3>
              <p>Lorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum
                dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsu</p>
              <button type="button" class="btn"
                style="margin-top: 20px;width: 60%;background: linear-gradient(130deg, #792CFC 3%, #B23293 57%, #6D479C 100%);box-shadow: 0px 0px 59.6px rgba(241, 33, 119, 0.20);border-radius: 100px;">
                <div style="padding: 5px;border-radius: 20px; border: 1px #ffffff solid;">
                  <a style="color: #ffffff;">Brandon Adams</a>
                </div>
              </button>
            </div>

          </div>
          <div class="row bottom">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-center "
              style="flex-flow: column; text-align: right;">
              <h3 class="custom-title">Insurance</h3>
              <p>Lorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum
                dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsu</p>
              <button type="button" class="btn"
                style="margin-top: 20px;width: 60%;background: linear-gradient(130deg, #792CFC 3%, #B23293 57%, #6D479C 100%);box-shadow: 0px 0px 59.6px rgba(241, 33, 119, 0.20);border-radius: 100px;">
                <div style="padding: 5px;border-radius: 20px; border: 1px #ffffff solid;">
                  <a style="color: #ffffff;">Brandon Adams</a>
                </div>
              </button>
            </div>

            <div class="col-lg-6 col-sm-12">
              <img src="\themes\custom\ux4mation\public\images\Group 265.png" width="100%">
            </div>

          </div>
          <div class="row bottom">
            <div class="col-lg-6 col-sm-12">
              <img src="\themes\custom\ux4mation\public\images\insurance.png" width="100%">
            </div>
            <div class="col-lg-6 col-sm-12 d-flex float-right justify-content-center" style="flex-flow: column;">
              <h3 class="custom-title">Insurance</h3>
              <p>Lorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum
                dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsu</p>
              <button type="button" class="btn"
                style="margin-top: 20px;width: 60%;background: linear-gradient(130deg, #792CFC 3%, #B23293 57%, #6D479C 100%);box-shadow: 0px 0px 59.6px rgba(241, 33, 119, 0.20);border-radius: 100px;">
                <div style="padding: 5px;border-radius: 20px; border: 1px #ffffff solid;">
                  <a style="color: #ffffff;">Brandon Adams</a>
                </div>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding">
    <div class="container">
      <div class="row bottom">
        <div class="col-6">
          <h1 class="">YOUR CHALLENGES</h1>
          <p class="mt-5">Find ServiceNow experts to help you digitalize your IT and Business processes
            Help you to define fastest way to IT & Non-IT process efficiency
            Reduce costs for project implementation and Platform RUN services
            Get support to bring state-of-art innovation to your Employees</p>
        </div>
        <div class="col-6">
          <h1 class="">OUR SOLUTION</h1>
          <p class="mt-5">ServiceNow Center of Excellence (CoE) provides Innovative and cost- effective ServiceNow
            solutions coupled with «best in class» implementation and RUN services.
            Our Team will propose an agile and scalable approach to design the solution that best fits your needs at the
            lowest cost.
          </p>
        </div>
      </div>
  </section>
  <section class="logo section-padding">

    <div class="brand-carouselhow section-padding owl-carousel" style="background: rgba(241, 33, 119, 0.03);">
      <div>
        <img src="\themes\custom\ux4mation\public\images\Innovation.png" class="logo" style="max-width: 210px;">
      </div>
      <div>
        <img src="\themes\custom\ux4mation\public\images\Innovation.png" class="logo" style="max-width: 210px;">
      </div>
      <div>
        <img src="\themes\custom\ux4mation\public\images\Innovation.png" class="logo" style="max-width: 210px;">
      </div>
      <div>
        <img src="\themes\custom\ux4mation\public\images\Innovation.png" class="logo" style="max-width: 210px;">
      </div>
      <div>
        <img src="\themes\custom\ux4mation\public\images\Innovation.png" class="logo" style="max-width: 210px;">
      </div>
      <div>
        <img src="\themes\custom\ux4mation\public\images\Innovation.png" class="logo" style="max-width: 210px;">
      </div>
      <div>
        <img src="\themes\custom\ux4mation\public\images\Innovation.png" class="logo" style="max-width: 210px;">
      </div>
      <div>
        <img src="\themes\custom\ux4mation\public\images\Innovation.png" class="logo" style="max-width: 210px;">
      </div>
    </div>





  </section>
