@media (max-width: 1119px) {
  div#navbarNavDropdown nav>ul {
    gap: 0;
    padding: 0;
    justify-content: space-between !important;
    --bs-nav-link-padding-x: 0rem;
  }


  .custom-rectangle .col-md-2.text-center.text-md-left div:first-child {
    width: 16.66666667%;
  }

  .custom-rectangle .col-md-2.text-center.text-md-left div:nth-child(2) {
    width: 50%;
  }

  .custom-rectangle>div>div:first-child {
    width: 13.666667%;
  }



  .custom-rectangle>div>div:nth-child(2) {
    width: 60%;
  }

  .custom-rectangle>div>div:last-child {
    width: 26.333333%;
  }

  a.custom-button-link {}



  .custom-rectangle>div>div:last-child .custom-button-inner {
    padding: 0 2px;
    margin: 0;
  }

  div#customers-services .service-item button {
    width: auto;
  }

  .transform .custom-btn {
    margin-top: 20px;

  }

  .transform .background-image-container {
    padding-bottom: 30px;
  }

  div#customers-services .service-item button {
    height: auto;
    margin-top: 15px !important;
  }

  section.Stories___client.section-padding .row>div {
    height: 50vh;
  }

  .work--with .col-sm-12 .row {
    width: 100%;

  }

  .img--footer-li {

    height: 400px;
  }

  .img---card {
    height: 170px;
  }

  .custom-rectangle>div>div:last-child a {
    font-size: 12px;
  }

  div#navbarNavDropdown nav>ul a {
    font-size: 15px !important;
  }

}

@media (max-width: 991px) {

  .flex-responsive {
    padding: 5px;
}

  .lopp button.btn.custom-button {
    display: none;
  }

  .lopp {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  span.btn-menu-left {
    font-size: 25px;
  }

  .showwww_mobile {
    display: block;
  }

  div#navbarNavDropdown ul.nav.justify-content-center {
    display: none !important;
  }

  .custom-rectangle>div>div:first-child {
    width: 40%;
  }

  .custom-rectangle>div>div:last-child {
    width: 60%;
  }

  div#slider-mobisl h5 {
    height: auto;
  }

  div#slider-mobisl {}

  div#slider-mobisl .carousel-inner>div {
    height: 50vh;
  }

  div#slider-mobisl .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  .testimonials_box .row {
    gap: 30px 0;
  }

  .col--1-card {
    flex-direction: column;
  }

  .transform .custom-btn {
    width: max-content;
  }

  div#customers-services .owl-nav button.owl-prev {
    left: 37%;
  }

  .custom-rectangle>div>div:nth-child(2) {
    width: 60%;
  }

  section.Stories___client.section-padding .row>div .row>div:last-child {
    justify-content: flex-start !important;
    height: auto;
  }

  section.Stories___client.section-padding .row>div {
    height: 1000px;

  }

  section.Stories___client.section-padding .row>div {
    height: auto;
  }

  section.Stories___client.section-padding .row>div {
    height: auto;
    margin: auto;
    text-align: center;
  }

  .Stories___client .container-fluid>.row>div:first-child .row>div:first-child {
    display: none;
  }

  section.Stories___client.section-padding .row>div .row>div:last-child {
    justify-content: center !important;
    height: auto;
    align-items: center;
  }

  section.Stories___client.section-padding .row>div {
    text-align: center !important;
    align-items: center;
  }

  section.Stories___client.section-padding .row>div .col-lg-6.col-sm-12 img {

    margin: 30px 0;
  }

  .wrapper--footer-linkdden.container>div {
    width: 100%;
  }

  .img--footer-li {
    height: 60vh;
  }

  .wrapper--footer-linkdden.container {
    flex-direction: column;
    padding: 40px;
    gap: 30px 0;
  }

  section.sc--footer-linkdden img {

    object-fit: cover;
  }

  section.section-padding.cellele {}

  section.section-padding.cellele .fluid {
    padding: 30px !important;
  }

  footer.footer-box .fluid .container-fluid .row img {
    width: 30%;
    margin: 30px 0;
  }

  .row.botom--footer {
    padding: 30px 0;
    border-top: 1px solid #ffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin: auto;
    gap: 20px 0;
  }

  footer.footer-box .fluid .container-fluid .row {
    justify-content: center;
    margin: auto;
    text-align: center;
  }

  footer.footer-box .fluid .container-fluid .row>div:first-child {
    text-align: center !important;
  }

  .row.botom--footer p {
    text-align: center;
  }

  .botom--footer>div:last-child {
    justify-content: center;
  }

  footer.footer-box .fluid .container-fluid .row>div:first-child {
    text-align: left !important;
    padding: 0 35px;
  }

  section.section-padding.cellele .fluid img {
    padding: 10% 0;
  }

  section.Stories___client.section-padding .row>div .col-lg-6.col-sm-12 img {
    width: 60%;
    height: 100%;
  }

  div#slider-mobisl h5 {
    display: flex;
    width: auto;
    font-size: 30px;
    line-height: 50px;
    padding: 30px;
  }

  div#slider-mobisl p {
    width: auto;
    line-height: 24px;
    margin: 0 0 !important;
  }

  footer.footer-box .fluid .container-fluid .row img {
    width: 100%;
  }

  footer.footer-box .fluid .container-fluid .row>div:last-child img {
    display: none;
  }

  /* ******** mobile res */
  .wrapper--mobile>div:last-child {
    text-align: right;
    width: 30%;
  }

  .main-menu .navbar-toggler {
    border: 1px solid #fff;
    width: 50px;
  }

  .flex-responsive span {
    color: #fff;
  }

  ul#menu-second-main-mobile {
    padding: 0;
  }

  li.loop-mobile {
    border-bottom: 1px solid #707070;
  }

  .list-product-nav>li a.list-product-cat {
    color: #7B6A63;
    padding: 10px 20px;
  }

  .glyphicon {
    position: relative;
    top: 0;
    display: inline-block;
    float: right;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
  }

  .list-product-subnav {
    background: #e1e1e1;
    display: none;
    border: solid 1px #e9e9e9;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .show_all_menu .list-product-subnav {
    display: none;
    padding: 0 0px 0 0;
  }

  .list-product-nav>li a.list-product-cat {
    color: #7B6A63;
    padding: 10px 20px;
  }

  .li_with_arrow a.list-product-cat {
    font-size: 16px !important;
  }

  .main-menu a {
    width: 100%;
  }

  .list-product-nav a {
    display: block;
    text-decoration: none;
  }

  li.list--href a {
    color: #9B9A9A;
    font-size: 16px;
    padding: 10px 20px;
  }

  .show--menu #menu-second-main-mobile {
    display: block !important;
  }

  .glyphicon-menu-up .fa-chevron-down:before {
    transform: rotate(180deg);
    display: block;
  }

  .wrapper-top-mobile {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
  }

  .wrapper-top-mobile>div:first-child {
    width: 50%;
    display: none;
  }

  div#navbarNavDropdown .navbar-nav {
    display: none;
  }
  .show_all_menu {
    height: 100%;
    width: 0;
    position: fixed;
    display: block;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: .5s;
    height: -webkit-fill-available;
}
.show_all_menu.show--menu {
  width: 100%;
  display: block !important;
  position: absolute !important;
  top: 100%;
  left: 0;
  width: 100% !important;
  background: #f9f9f9;
  z-index: 1000;
  padding: 20px;
  height: 100vh;
}
/* .custom-rectangle>div>div:last-child .lopp {
  display: none;
} */
.custom-rectangle>div>div:nth-child(2) {
  width: 100%;
}
.row.align-items-center.custom-row {
  display: flex;
  flex-direction: initial;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 14px 0;
  margin: 18px 0;
}
footer.footer-box .fluid .container-fluid .row img {
  width: 100%;
  object-fit: scale-down;
}
}

@media (max-width: 767px) {
  .row.botom--footer {
   
    gap: 0px 0;
}
footer.footer-box section.section-padding .row.botom--footer #footer----5 ul li {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 10px;
}
  #right--multi {
    justify-content: right;
}
  .lopp {
    display: none;
  }
  div#slider-mobisl .carousel-inner>div {
    height: 58vh;
  }

  .video-wrapper {
    height: 300px;
    padding-bottom: 30px;
  }

  section.section-padding.sc--1 {
    padding-bottom: 30px;
  }

  div#customers-services .owl-nav button.owl-prev {
    left: 0;
    right: auto;
  }

  div#customers-services .owl-nav button.owl-next {
    right: 0;
    left: auto;
  }

  .img---move {
    padding: 30px 0;
  }

  .transform .custom-btn {
    width: max-content;
  }

  .testimonials_box .team {
    padding: 30px;
  }

  section.testimonials_box.section-padding {
    padding: 0;
  }

  section.section-padding.sc--test {
    padding-top: 0;
  }

  .sc--test .item img {
    width: auto !important;
  }

  .sc--test .item .row>div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  .item-wrapper-news h2 {
    font-size: 30px;
    line-height: 30px;

  }

  .wrapper--footer-linkdden.container {

    align-items: center;
    justify-content: center;
  }

  section.section-padding.sc--test {
    padding-top: 0;
  }

  .sc--test .item {}

  .sc--test .item img {
    width: auto !important;
  }

  .sc--test .item .row>div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  .new--link .new--link--lopp {
    flex-direction: column;
    gap: 20px 0;
  }

  .new--link--lopp div:first-child {
    width: 100%;
    text-align: center;
  }

  .new--link--lopp div:last-child {
    width: 100%;
  }

  .sc--1 .row {
    padding: 0 15px;
  }

  footer.footer-box ul {
    padding: 0;
  }

  footer.footer-box ul li:first-child a {
    font-size: 20px !important;
  }

  footer.footer-box .fluid .container-fluid .row>div {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
