@font-face {
  font-family: "Manrope";
  src: url("../webfonts/manrope_regular.otf");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../webfonts/Rubik-Regular.ttf");
  font-display: swap;
}
.custom-button-inner.more--servicec a {
  border: initial;
}
   div#navbarNavDropdown .menu-subs-inner ul .menu-subs-col ul>li:first-child {
    display: none;
}

.transform .btn-link {
  text-decoration: none;
  color: #7620C6;
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}

.Stories___client .row .row>.col-sm-6:last-child {
  margin-top: 3%;
}

.Stories___client .row .row>.col-sm-6:last-child .custom-button-inner {
  margin-top: 5%;
}

.img---team-1 {
  height: 250px;
}

.img---team-1 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.who--bg .row.bottom>div p {
  text-align: left;
  margin: 0;
}

.who--bg .row.bottom {
  max-width: 70%;
  margin-top: -14%;
  display: block;
}

.sc--4 .card .card-body h3 img {
  width: auto;
  height: auto;
  object-fit: none;
}

.after---img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.box .content-box {
  border-left: initial;
  border-radius: 30px;
  background: linear-gradient(107deg, #FFF 38.2%, rgba(255, 255, 255, 0.96) 97.98%);
  box-shadow: 0px 1px 68.9px 0px rgba(97, 106, 178, 0.20);
}

.box .content-box .row.bottom {
  padding: 50px;
  display: flex;
  align-items: normal;
  justify-content: center;
  /* gap: 0 13px; */
}

.box .content-box .row.bottom>div {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  justify-content: normal;
}

.box .content-box .row.bottom>div h3.mt-5 {
  margin-top: 0 !important;
  color: #111;
  -webkit-text-stroke-width: 0.800000011920929px;
  -webkit-text-stroke-color: #111;
  font-family: Nasalization;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  /* 263.158% */
}
.media--img-media-2 h1 {
  line-height: normal;
}
.shadow-dark.p-4.bg-white.rounded em {
  color: #5A4F63;
  text-align: center;
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
header .custom-button-inner a {
  font-family: "nasalization";
  z-index: 999999;
  display: flex;
  position: relative;
}
.media--img-media-2 a span {
  align-items: center;
}
.Stories___client h1 {
  color: #FFF;
  -webkit-text-stroke-color: #FFF;
  font-family: "nasalization";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal !important;
  letter-spacing: -3px;
}
#odd-even-box .container-fluid>div:nth-child(even) {}
.img--slider-scroll .img--card{
height: 500px;
opacity: 1;
}
body #customers_work_1 .owl-dots{
  gap: 0 1px;
    display: flex;
}
#odd-even-box .container-fluid>div:nth-child(even) .after---img {
  right: -1px;
  left: auto;
  border-radius: 30px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  height: 100%;
}
.menu-subs-inner ul>div button:hover {
  color: #9f19e4;
}
#odd-even-box .container-fluid>div:nth-child(even) .content-box {
  border-radius: 8px;
}
.menu-subs-inner ul>div .btn {
  display: flex;
  gap: 0 10px;
  color: #7620C6;
  font-weight: bold;
}
.after---img img {
  height: 100%;
}

.box---2 .container .img----odd-eve\, {
  border-radius: 20px;
  background: linear-gradient(107deg, #FFF 38.2%, rgba(255, 255, 255, 0.96) 97.98%);
  box-shadow: 0px 1px 68.9px 0px rgba(97, 106, 178, 0.20);
}

.box .content-box .row.bottom>div p {
  color: #111;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  /* 181.25% */
}

.img----odd-eve\, {}

section.odd-even--box.sc--test.box---2 {
  background: #F5F9FF;
}

section#how_serve {
  background: #F5F9FF;
}

section#odd-even-box {
  background: #F5F9FF;
}

#odd-even-box .container-fluid>div {
  margin-bottom: 0 !important;
   !i;
   !;
  padding-bottom: 30px;
}

.box .content-box .row.bottom {
  margin-bottom: 0 !important;
   !i;
   !;
}

.box .content-box {
  background: linear-gradient(107deg, #FFF 38.2%, rgba(255, 255, 255, 1) 100%);
}

.box---2 .col-sm-12.mt-5 h1 {
  -webkit-text-stroke-width: 1px;


}



.box---2 .col-sm-12.mt-5 p {
  color: #111;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  /* 120.833% */
}

.box---2 .col-sm-12.mt-5 p {
  color: #111;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

.our--solution h1 {
  color: #111;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000;
  font-family: Nasalization;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 75% */
}


.our--solution p {
  color: #4E4444;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.our--solution {
  background: #F5F9FF;
}

section.logo {
  padding-top: 40px;
}

#wrapper---search li a {
  color: #fff;
  width: 100%;
  display: block;
}

.odd-even--box img {
  padding: 40px;
}

#my_contact .form-container {
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}

#my_contact .form-control {
  color: #95A3C0;
  line-height: 2;
  background-color: #f5e5ff;
  border: 1px solid #e5d8ff;
}

#my_contact .form-label.required::after {
  content: " *";
  color: red;
}

#my_contact .btn-contact {
  line-height: 2;
  width: 30%;
  border-radius: 100px;
  opacity: 1;
  background: var(--uxx, linear-gradient(93deg, #5505D9 -2.35%, #A400A9 34.52%, #9E0099 56.16%, #950085 97.67%));
  box-shadow: 0px 0px 59.6px 0px rgba(241, 33, 119, 0.20);
  color: white;

}

#my_contact .contact-container {
  position: relative;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 400px;
}

#my_contact .contact-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/images/work__1.png');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  /* Adjust opacity as needed */
  z-index: -1;
}

section#my_contact {}

#my_contact form>div {
  flex-direction: column;
  display: flex;
}

#my_contact form>div label:after {
  content: " *";
  color: red;
}

#my_contact form>div input,
#my_contact form>div select,
#my_contact form>div input,
#my_contact form>div textarea {
  color: #95A3C0;
  line-height: 2;
  background-color: #f5e5ff;
  border: 1px solid #e5d8ff;
  padding: .375rem 2.25rem .375rem .75rem;
  margin-bottom: 1rem !important;
}

#my_contact form input#edit-actions-submit {
  width: 30%;
  border-radius: 100px;
  opacity: 1;
  background: var(--uxx, linear-gradient(93deg, #5505D9 -2.35%, #A400A9 34.52%, #9E0099 56.16%, #950085 97.67%));
  box-shadow: 0px 0px 59.6px 0px rgba(241, 33, 119, 0.20);
  color: white !important;
  margin-left: auto;
}

#my_contact form>div textarea {
  width: 100%;
}

#my_contact form>div label {
  margin-bottom: .5rem;
}

footer ul li::marker {
  content: none;
}

#my_contact form>div {
  width: 48%;
}

section#my_contact form {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

#my_contact form>div:first-child {
  width: 100%;
}

#my_contact form div .form-item-message {
  width: 100%;
}

#my_contact form .form-item-message {
  width: 100%;
}

#my_contact form .form-item-message textarea {
  width: 100%;
}

#my_contact form #edit-actions {
  width: 100%;
}

.media--img-media-2 a span {
  display: flex;
  gap: 0 10px;
}

section#contact--page-1 h1 {
  color: #1F1C1C;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1F1C1C;
  font-family: Nasalization;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 123px; */
  /* 212.069% */
  letter-spacing: -3px;
}

section#contact--page-1 p {
  display: flex;
  width: 650px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #1F1C1C;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.16px;
  /* 162% */
  letter-spacing: 0.1px;
}

.img--contant-title {
  margin: auto;
  text-align: center;
  height: 375px;
  width: 581px;
  opacity: 0.1;
}

.img--contant-title img {
  width: 100%;
  height: 100%;
}

.contact-container {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

section#contact--page-1 {
  position: relative;
  background: #FAFAFF;
  /* padding-bottom: 0; */
}

#my_contact .form-container {
  margin-top: 0;
}

.custom-button-inner:before,
.btn:before {
  background: #fff;
  content: "";
  height: 155px;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  width: 50px;
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.custom-button-inner:after,
.btn:after {
  left: -100%;
}

.custom-button-inner:hover:after,
.btn:after {
  left: 200%;
  opacity: 0.6;
}

.custom-button-inner:hover::after,
.btn:after {
  left: 200%;
  opacity: 0.6;
}

.custom-button-inner:hover:after,
.btn:after {
  left: 200%;
  opacity: 0.6;
}

.custom-button-inner:after,
.btn:after {
  background: #fff;
  content: "";
  height: 20rem;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 8rem;
}

.custom-button-inner:hover,
.btn:hover {
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.custom-button-inner,
.btn {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

header .custom-button:hover {
  box-shadow: initial;
}

/*  */

.wrapper-accessibilty {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
  height: 100%;
  bottom: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: -100px;
  transition: right 0.35s ease-in-out;
}

.list-social-sticky ul {
  gap: 10px 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.list-social-sticky li {
  height: 52px;
  width: auto;
  background-color: #335AB7;
  background: var(--uxx, linear-gradient(93deg, #5505D9 -2.35%, #A400A9 34.52%, #9E0099 56.16%, #950085 97.67%));
  align-items: center;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 27px;
  border-top-left-radius: 27px;
  transition: all .4s linear;
}

.list-social-sticky ul li a {
  display: flex;
  align-items: center;
  gap: 0 30px;
  justify-content: space-between;
  padding: 15px;
  margin: auto;
  text-align: center;
  margin: auto;
  width: 150px;
  color: #fff;
}

.list-social-sticky li a {
  color: #fff;
}

.list-social-sticky ul li a i {
  position: relative;
  left: 5px;
  color: #fff;
}

.list-social-sticky ul li:hover {
  transform: translateX(-92px);
  width: 100%;
}

.list-social-sticky ul li a {
  flex-direction: row-reverse;
  gap: 0 15px;
}


.list-social-sticky ul li a svg {
  fill: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img---card {
  border-radius: 20px;
  overflow: hidden;
}

/*#id1 {*/
/*    color: white;*/
/*     text-align: left;*/
/*     list-style-image: url('/themes/custom/ux4mation/public/images/li.png');*/
/* }*/
ul #id1 {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: white;

}

.transform .custom-btn {
  margin-bottom: 10%;
}

li #id1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centers content horizontally and vertically */
  text-align: center;
  margin-bottom: 20px;
  /* Space between list items */
}

li img #id1 {
  width: 50px;
  /* Set desired image size */
  height: auto;
  margin-bottom: 10px;
  /* Space between image and text */
}


#customers-services .owl-item.active.center .item {
  border-radius: 20px !important;
  overflow: hidden;
}

div#customers-services h3 {
  -webkit-text-stroke-width: 0.5px;
  font-size: 35px;
  margin: 0;
}

div#customers-services .owl-nav button,
div#customers_work_1 .owl-nav button {
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 9999px;
  background: linear-gradient(268deg, #7620C6 14.51%, #B62897 95.96%);
}

div#carouselExampleCaptions .animate--icon.position1---icon {
  position: absolute;
  top: 10%;
  left: 5%;
}

.transform .background-image-container {
  background: linear-gradient(132deg, #5704E0 23.43%, #F331EA 84.79%, #950085 127.58%, #9E0099 190.85%);
  opacity: 0.9;
  border-radius: 15px;
}

.transform .custom-btn a {
  gap: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  color: #7620C6;
  text-align: center;
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  /* 192.857% */
}

.testimonial-carousel .owl-nav button {
  height: 54px;
  flex-shrink: 0;
  border-radius: 9999px;
  background: linear-gradient(268deg, #7620C6 14.51%, #B62897 95.96%) !important;
  width: 54px !important;
}

.col-lg-6.col-sm-12.scroll-column img {

  border-radius: 25px;
}

.new--link--lopp img {
  position: relative;
  top: -46px;
  width: 53px !important;
  height: 53px !important;
}

.new--link .new--link--lopp {
  justify-content: space-between;
  align-items: center;
}

.new--link--lopp div:last-child {
  text-align: right;
}

.img--footer-li {
  background: linear-gradient(253deg, #5704E0 -12.67%, #F331EA 33.36%, #9E0099 77.47%, #950085 138.75%);
}

.img--footer-li>img {
  display: none;
}

.img--footer-li {
  height: 453px;
}

.Stories___client .container-fluid>.row>div:first-child {
  box-shadow: 0px 22px 73.1px 0px rgba(0, 0, 0, 0.20);
}

.wrapper-accessibilty {
  height: max-content;
  bottom: 0;
  margin: auto;
}

.store_2 img {
  display: flex;
  margin-left: auto;
}

.custom-button-inner.more--servicec {
  width: fit-content;
}

.wrapper--linkden .row>div iframe {
  width: 100%;
  height: 100%;
}

.link----link h2 a {
  color: #FFF;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #FFF;
  font-family: Nasalization;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  /* 170% */
}

.link----link>a {
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 9999px;
  background: linear-gradient(268deg, #7620C6 14.51%, #B62897 95.96%);
  display: flex;
  align-items: center;
  justify-content: center;
}



.link----link img {
  background: transparent;
  width: auto !important;
  height: auto !important;
}

.jack-lorem-parent {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-direction: column;
  height: auto;
  gap: 3px 0;
}

.handsome-blond-guy-with-blue-e-icon {
  overflow: auto;
  position: initial;
  order: 1;
  height: 100%;
  width: 55%;
  border-radius: 0;
  object-fit: cover;
}

.jack-lorem-parent>div {
  position: initial;
}

.jack-lorem {
  order: 2;
}

.head-of-lorem {
  order: 3;
}

.skill-iconslinkedin {
  position: initial;
  order: 4;
  height: 26px;
  width: 26px;
  overflow: initial;
}

.img----odd-eve\, img {
  width: 100%;
  height: 100%;
  box-shadow: initial;
  padding: 0;
}

.box---2 .container .img----odd-eve\, {
  box-shadow: initial;
  background: transparent;
}

.right--img-we-are-img img {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.img---team-1 {
  height: auto;
}

.right-we-are.mt-3.btm-ux4 h1 {
  font-size: 100px;
}

.listing--para div {
  padding-left: 40px;
  position: relative;
}

.listing--para div img {
  position: absolute;
  left: 0;
  top: 4px;
}

.listing--para {
  padding-top: 30px;
}

.marg.store_1_2 h1 {
  color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: Nasalization;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
}


div#customers-testimonialss .row>div:first-child {
  display: flex;
  flex-direction: column;
}

div#customers-testimonialss .row>div:first-child .col-sm-left img {
  height: auto;
  width: auto;
  left: 0;
  text-align: left;
  display: flex;
}

.col-sm-left {
  margin-bottom: -32px;
}

div#customers-testimonialss .row>div:first-child .col-sm-rightimg {
  display: flex;
  right: 0;
}

.col-sm-right img {
  height: auto;
  width: auto;
  text-align: right;
  display: flex;
  justify-content: right;
  right: 0;
}

.col-sm-right {
  text-align: right;
  right: 0;
  display: flex;
  margin-top: -39px;
  justify-content: right;
}

div#customers-testimonialss .row h3 {
  text-align: left;
  font-size: 44px !important;
}

div#customers-testimonialss .row h4 {
  color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: Nasalization;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* 357.143% */
}

div#customers-testimonialss .row p {
  text-align: left !important;
}

p.wrap1 {
  color: #000;
  text-align: center;
  -webkit-text-stroke-width: 0.30000001192092896px;
  -webkit-text-stroke-color: #000;
  font-family: Nasalization;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* 161.111% */
}

.wrapper-rd.col-sm-4 {
  height: 288px;
}

.wrapper-rd.col-sm-4 img {
  width: 100% !important;
  height: 100% !important;
  object-fit: fill;
}

div#customers-testimonialss .row {
  align-items: center;
}

.sc--Leadership h1+p {
  color: #111;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  color: #111;
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.left--count .text-left div,
.left--count .text-left p {
  display: none;
}

.animate--icon.position---icon-testimonials_1 {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 109px;
  justify-content: center;
}

div#customers-testimonialss .row {
  position: relative;
}

.animate--icon.position---icon-testimonials_1 img {
  width: auto !important;
  height: auto !important;
}

div#customers-testimonialss .row>div:first-child {
  position: relative;
}

section.section-padding.sc--4 {
  top: 132px;

}
.menu-subs-inner ul>div .btn img {
  width: 50%;
}
.img----right {
  padding: 30px 0;
}
.col--left h3 {
    color: #111;
    -webkit-text-stroke-width: 0.30000001192092896px;
    -webkit-text-stroke-color: #111;
    font-family: Nasalization;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: initial; / 233.333% /
}

.wrapper-img {
    display: flex;
    gap: 0 30px;
}

.wrapper-img img {
    width: auto;
}

.wrapper-img img:last-child {

        border-left: 1px solid;
    object-fit: contain;
    width: 69%;
    height: auto;
}
#social--3 .row .showing--class:last-child p {
    text-align: left;
    font-weight: 200;
}


.showing--class .listing--para {}

.showing--class .listing--para div {
    text-align: left;
}

.showing--class .listing--para div img {
    width: auto;
}

.showing--class {}

.showing--class .col--left {
    text-align: left;
}
section#social--2 .row >div:first-child {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#social--2 .row h1 {
    line-height: initial;
}

.showing--class {}

.showing--class .col--left {
    height: auto;
}

#social--3 .row .showing--class:first-child {
}


section#social--4 h2 {
    font-size: 40px;
    position: relative;
    top: 7px;
}

.container.col--1-card.flixible--ts h2 {
    color: #111;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #111;
    font-family: Nasalization;
    font-size: 29px !important;!i;!;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: -3px;
}

#social--4 .flixible--ts {
    display: flex;
    align-items: center;
    justify-content: left !important;!i;!;
    padding: 0;
}
.box-video{
  position: relative;
  width: 100%;
  margin:0 auto 20px auto;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
}

 /* Set Cover aka Background-Image */
.box-video .bg-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

 /* Add light shade to make play button visible*/
.bg-video::after{
	content:'';
	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background-color: rgba(0,0,0,0.1);
  	z-index: 3;
  	}


/* The Play-Button using CSS-Only */
.box-video .bt-play {
  position: absolute;
  top:50%;
  left:50%;
  margin:-30px 0 0 -30px;
  display: inline-block;
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,0.1);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50%;
  text-indent: -999em;
  cursor: pointer;
  z-index:2;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

/* The Play-Triangle */
.box-video .bt-play:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 0;
  width: 0;
  margin: -12px 0 0 -6px;
  border: solid transparent;
  border-left-color: #000;
  border-width: 12px 20px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.box-video:hover .bt-play {
  transform: scale(1.1);
}

/* When Class added the Cover gets hidden... */
.box-video.open .bg-video{
  visibility: hidden;
  opacity: 0;

  -webkit-transition: all .6s .8s;
  transition: all .6s .8s;
}

/* and iframe shows up */
.box-video.open .video-container{
  opacity: 1;
  -webkit-transition: all .6s .8s;
  transition: all .6s .8s;
}

/* Giving the div ratio of 16:9 with padding */
.video-container {
	position: relative;
	width: 100%;
	height: 0;
  margin: 0;
  z-index: 1;
	padding-bottom: 56.27198%;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



div#block-ux4mation-nonprofit .row {
    align-items: center;
}
p.rapp2 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: italic;
    font-weight: bold !important;
    line-height: 24px; /* 133.333% */
    font-weight: bold;
    max-width: 74%;
    margin: auto;
}



p.rapp1 {
    margin: 20px 0;
}

.sc--test .col-sm-12.mt-5 p {
    font-weight: 400;
}
section#social--4 .custom-content p {
    color: #111;
    text-align: initial;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: inherit;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(62deg, #5704E0 -6.64%, #F331EA 61.3%, #950085 97.54%, #9E0099 151.12%);
    z-index: 9999;
    /* animation: fadeOut 2s ease 2s forwards; */ /* 2s delay and fade out after 2s */
}

#preloader .image-container {
    position: relative;
    width: 80px;
    height: 64px;
}

#preloader .image-container::before {
    content: '';
    position: absolute;
    top: -18px;
    left: -18px;
    width: 120px;
    height: 120px;
    border: 5px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: borderRotate 2s linear infinite; /* Animated circular border */
}

#preloader img {
    width: 100%; /* Set image size */
    height: 100%;
    border-radius: 50%; /* Make the image circular */
    animation: rotate 1s linear infinite, scaleUp 2s ease-in-out infinite; /* Rotate and scale animations */
}

/* Animation keyframes for image rotation */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Animation keyframes for border rotation */
@keyframes borderRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Animation keyframes for scaling up and down */
@keyframes scaleUp {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); /* Scale the image up slightly */
    }
}

/* Animation keyframes for fading out the preloader */
@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}



/* Content appears after the preloader fades out */
@keyframes contentAppear {
    to {
        visibility: visible;
    }
}
/**/
section.section-padding.sc--1 .col-sm-5.custom-content .move--orizintale {
    margin-bottom: 33px;
}


section.section-padding.sc--1 .col-sm-5.custom-content .move--orizintale {
    margin-bottom: 33px;
}

section.section-padding.sc--1 .col-sm-5.custom-content h3 {
    color: #111;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1px;
}

section.section-padding.sc--1 .col-sm-5.custom-content h3 strong {
    font-weight: bold;
}

section.section-padding.sc--1 .col-sm-5.custom-content  p {
    color: #343C50;
    text-align: justify;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 181.25% */
}
section.section-padding.sc--1 .col-sm-5.custom-content .custom-button-inner a {
  font-family: "Manrope";
}
section.section-padding.sc--1 .col-sm-5.custom-content .custom-button-inner a {
  font-family: "Manrope";
}



section.services.section-padding ul.mt-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: fit-content;
}



section.services.section-padding ul.mt-3 span {width: 197px;text-align: left;}

.services  ul #id1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 11px;
  margin: 8px 0;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}

.custom-button-inner.more--servicec a {
  color: #FFF;
  font-family: Manrope;
}
.services .service-item img {
  max-width: 100%;
  height: max-content;
  margin: auto;
}
div#block-ux4mation-section11senioruxuidesigner .col-lg-6.col-sm-12.align-items-center.d-flex.justify-content-center.text-center img {
  width: auto;
}
.transform .custom-btn a {
  font-family: Manrope;
}
.custom-button-inner.more--servicec a {
  font-family: Manrope;
}
section.section-padding.sc--test div#customers-testimonials h3 {
  text-align: center;
  -webkit-text-stroke-width: 0.30000001192092896;
  -webkit-text-stroke-color: #000;
  font-family: Nasalization;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.6px;

}
.shadow-dark.p-4.bg-white.rounded em {

  color: #5A4F63;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.shadow-dark.p-4.bg-white.rounded p.mb-0.text-center {
  color: #111 !important;
  text-align: center;
  font-family: Rubik !important;
  font-size: 19px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.item-wrapper-news ul {
  padding: 0;
}

.item-wrapper-news li {
  color: rgba(245, 245, 245, 0.01);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 125% */
}


.item-wrapper-news ul #id1 img {
  padding: 25px;
}
div#customers-services .owl-nav button {
  background: #fff;
}


section.section-padding.sc--1 .fluid div#auto {
  align-items: center;
}

.marg.store_1_1 p {
  line-height: 39px;
}


.listing--para div img {
  top: 13px;
}
